<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Apply</title>

  <!--To remove the favicon.ico error from console-->
  <!--Found solution here https://stackoverflow.com/questions/30693021/chrome-developer-tools-shows-favicon-404-error-in-brackets-livepreview-->
  <link rel="icon" href="data:;base64,iVBORwOKGO=" />

  <!--Styles-->
  <link rel="stylesheet" href="styles.css">

  <!--  ANGULAR + MATERIAL: directly from google --------------------- -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

  <!--  OUR SCRIPTS ----------------------------------------- -->
  <script src="apply.js"> </script>
</head>

<body class="body" ng-app="myApp" ng-controller="myController" ng-cloak>

  <md-toolbar class="md-primary">
    <p class="toolBarText">Jobs at Public Outdoor Ice Rinks: Apply</p>
    <a class="toolbarlink" href="loginRegister.html">Log out</a>
  </md-toolbar>

  <p style="margin-left: 15px">User ID: {{uid}}</p>
  <h2 style="margin-left: 15px">Complete Your Application Form:</h2>
  <form name="applicationform" id="applicationform" onsubmit="return false" style="margin-left: 15px">
    <section layout="row">
      <md-input-container >
        <label>First name</label>
        <input ng-model="firstName" required>
      </md-input-container>
      <md-input-container >
        <label>Last name</label>
        <input ng-model="lastName" required>
      </md-input-container>
    </section>

    <section layout="row">
      <md-input-container>
       <label>Email</label>
        <input placeholder="jones@mail.com" ng-model="email" type="email" required>
      </md-input-container>
      <md-input-container>
        <label>Age (min. 15)</label>
        <input ng-model="age" mdInput type="number" id="myNumber" min="15" max="100" aria-label="Age" required/>
      </md-input-container>
    </section>

    <section layout="row">
      <md-input-container>
        Preferred location
        <md-select ng-model="locationPreference" aria-label="preferred location" required>
          <md-option ng-repeat="l in locations" ng-value="l">{{l}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container style="margin-left:60px">
        <p style="margin-top:0">Preferred type of job</p>
        <md-radio-group ng-model="jobPreferenceIndex" class="md-primary">
          <md-radio-button ng-value=1>Desk</md-radio-button>
          <md-radio-button ng-value=2>Ice</md-radio-button>
        </md-radio-group>
      </md-input-container>
    </section>

    <section layout="row">
      <md-input-container>
        Evaluate your ice skating skill on a scale from 1 to 100.
        <md-slider md-discrete ng-model="skatingSkill" step="5"
                   min="0" max="100" aria-label="slider">
        </md-slider>
      </md-input-container>
    </section>
    <div>
      <md-button class="md-raised md-primary" ng-click="submit();">
        Submit
      </md-button>
    </div>
    <md-content class="errorMessage">
      {{errorMessage}}
    </md-content>
  </form>
</body>
</html>