<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!--  ANGULAR + MATERIAL: directly from google --------------------- -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

    <!--  OUR SCRIPTS ----------------------------------------- -->
    <script src="loginRegister.js"> </script>
</head>

<body ng-app="myApp" ng-controller="myController" ng-cloak style="padding:15px">

    <md-toolbar class="md-primary">
        <p style="padding:10px">Jobs at Public Outdoor Ice Rinks</p>
    </md-toolbar>

    <!--One row of two columns-->
    <section layout="row">
        <!-- left column for Login--------------------------------->
        <form name="loginform" id="loginform" onsubmit="return false">
            <section layout="column" style="width:500px; border-left: 1px solid lightgrey; padding:15px;">
                <h2>Login</h2>
                <p>If you are registered, log in.</p>
                <div>
                    <md-input-container flex="50">
                        <label>Login</label>
                        <input ng-model="user.login" required>
                    </md-input-container>
                </div>

                <div>
                    <md-input-container flex="50">
                        <label>Password</label>
                        <input type="password" ng-model="user.password" required>
                    </md-input-container>
                </div>

                <div>
                    <md-button class="md-raised md-primary" ng-click="login();">
                        Login
                    </md-button>
                </div>

                <md-content style="color:red">
                    {{loginErrorMessage}}
                </md-content>
            </section>
        </form>

        <!-- right column for Registering ------------------------------------------------------------>
        <form name="registerform" id="registerform" onsubmit="return false">
            <section layout="column" style="width:500px; border-left: 1px solid lightgrey; padding:15px;">
                <h2>Registration</h2>
                <p>If you are not registered, provide the following information.</p>
                <div>
                    <md-input-container flex="50">
                        <label>Choose a login</label>
                        <input ng-model="user.chosenLogin" required>
                    </md-input-container>
                </div>

                <div>
                    <md-input-container flex="50">
                        <label>Choose a password</label>
                        <input type="password" ng-model="user.chosenPassword" required>
                    </md-input-container>
                </div>

                <div>
                    <md-input-container flex="50">
                        <label>Confirm the password</label>
                        <input type="password" ng-model="user.confirmedPassword" required>
                    </md-input-container>
                </div>

                <div>
                    <md-button class="md-raised md-primary" ng-click="register();">
                        Register
                    </md-button>
                </div>

                <md-content style="color:red">
                    {{registerErrorMessage}}
                </md-content>
            </section>
        </form>
    </section>

</body>
</html>
