<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Review Applications</title>

    <!--To remove the favicon.ico error from console-->
    <!--Found solution here https://stackoverflow.com/questions/30693021/chrome-developer-tools-shows-favicon-404-error-in-brackets-livepreview-->
    <link rel="icon" href="data:;base64,iVBORwOKGO=" />

    <!--Styles-->
    <link rel="stylesheet" href="styles.css">

      <!--ANGULAR + MATERIAL: directly from google-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

    <!--  OUR SCRIPTS ----------------------------------------- -->
    <script src="reviewapplications.js"> </script>
</head>

<body class="managerbody" ng-app="myApp" ng-controller="myController" md-theme="customTheme" ng-cloak>

    <md-toolbar class="toolbar" class="md-primary">
        <p class="toolBarText">Jobs at Public Outdoor Ice Rinks: Review Applications</p>
        <a class="toolbarlink" href="loginRegister.html">Log out</a>
    </md-toolbar>

    <div class="vacanciesbar">
        <h2>Vacancies</h2>
        <p ng-repeat="v in vacancies">
            <strong>{{v.location}}</strong>
            <br>
            &nbsp;Desk: {{v.deskvacancies}} <br>
            &nbsp;Ice: {{v.icevacancies}}
        </p>
    </div>

    <div class="reviewtable_container">
        <p style="padding-left: 15px; margin-top:0;">Click a category in the table head to sort by this category.</p>
        <table class="reviewtable">
            <thead>
                <tr>
                    <th ng-click="setOrderingByUID()">UID</th>
                    <th ng-click="setOrderingByLastName()">Name</th>
                    <th ng-click="setOrderingByApplicationDate()">Date Applied</th>
                    <th ng-click="setOrderingByAge()">Age</th>
                    <th ng-click="setOrderingBySkatingSkill()">Skating Skill</th>
                    <th ng-click="setOrderingByLocationPreference()">Preferred Location/Job</th>
                    <th ng-click="setOrderingByStatus()">Status</th>
                    <th ng-click="setOrderingByReviewDate()">Review Date</th>
                    <th ng-click="setOrderingByLocationAssignment()">Assigned Location/Job</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="a in applications | orderBy:orderingGoal" ng-class-even="'rowBg'">
                    <td>{{a.uid}}</td>
                    <td>{{a.firstName}} {{a.lastName}}</td>
                    <td>{{a.applicationDate}}</td>
                    <td>{{a.age}}</td>
                    <td>{{a.skatingSkill}}</td>
                    <td>{{a.locationPreference}} / {{a.jobPreference}}</td>
                    <td>{{a.status}}</td>
                    <td>{{a.reviewDate}}</td>
                    <td>{{a.locationAssignment}} / {{a.jobAssignment}}</td>
                    <td>
                        <div style="text-align: center">
                            <md-button class="md-raised md-primary" ng-click="manageApplication(a.uid);">
                                Manage Application
                            </md-button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</body>
</html>
