
.column {
    border-left: 1px solid lightgrey;
    padding:15px;
    width:500px;
}

.errorMessage {
    color: red;
}

.toolbar {
    /*position: fixed;
    left: 0;
    top: 0;*/
}

.toolBarText {
    padding: 15px;
}

/*------- Review Applications ----------*/

.vacanciesbar {
    position: fixed;
    left: 0;
    top:0;
    margin-top: 150px;
    width: 10vw;
    background-color: lightgrey;
}

.reviewtable_container {
    margin-top: 30px;
    margin-left: 10vw;
    height: 70vh;
    overflow: auto;
    position: relative;
}


.reviewtable_container table {
    border-collapse: collapse;
    margin-left:15px;
    width: 97%;
}

.reviewtable_container th, td {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid black;
}

.reviewtable_container thead {
    position: sticky;
    top:0px;
    background-color: black;
    color: white;
}

/*------- Manage Applications ----------*/

.toolbarlink {
    color: white;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 5px;
}

.applicantinfotable th, td {
    text-align: left;
    border-bottom: 1px solid black;
}



